<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168495622182-6a7jth1ma403cg7k3en9os91n66lj7vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168495622182-6a7jth1ma403cg7k3en9os91n66lj7vi</string>
	<key>API_KEY</key>
	<string>AIzaSyC1wz1HSz6-wTsPZLykXKWU7ZjzDNpw3qI</string>
	<key>GCM_SENDER_ID</key>
	<string>168495622182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vtmapp.in15minutenRuhigUndAusgeglichen</string>
	<key>PROJECT_ID</key>
	<string>vtmapp-ad9f1</string>
	<key>STORAGE_BUCKET</key>
	<string>vtmapp-ad9f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168495622182:ios:5c0f2575b7471d2dc55ee7</string>
	<key>DATABASE_URL</key>
	<string>https://vtmapp-ad9f1.firebaseio.com</string>
</dict>
</plist>